*
!*/
!*.*
import
platform
.DS_Store
release
debug
checkout
sdk
build
.notes
.chatgpt
.claude
.gemini
uface.*
foundry/hyperspace2/share/textures
foundry/hyperspace2/models
foundry/orion
*.h5
*.ares
*.ours
*.rom
*.pyc
*.o
*.i
*.ll
*.sfc
*.srm
*.wav
*.spc
*.txt
*.ptc
*.bps
*.smc
*.bsz
*.md
*.nes
*.state
*.z64
*.v64
*.raw
*.retired
*.npy
*.seq
*.pt
*.gen
athlete
*/n64/reference
/shot*png
/*.ag
sessions
cache
*.res
