*
!*/
!*.*
import
platform
.DS_Store
release
debug
checkout
sdk
build
.notes
.chatgpt
.claude
.gemini
*.rom
*.pyc
*.o
*.i
*.ll
*.sfc
*.srm
*.wav
*.spc
*.bps
*.smc
*.bsz
*.md
*.nes
*.state
*.z64
*.gen
athlete
*/n64/reference
/shot*png
/*.ag
sessions
