*
!*/
!*.*
import
install
dbg.cmd
platform
.DS_Store
release
debug
checkout
sdk
build
.notes
.chatgpt
.claude
.gemini
uface.*
foundry/hyperspace2/share/textures
foundry/hyperspace2/models
foundry/orion
hires
*.h5
*.ares
*.ours
*.rom
*.pyc
*.o
*.i
*.ll
*.sfc
*.srm
*.wav
*.spc
*.txt
*.ptc
*.bps
*.smc
*.bsz
*.md
*.nes
*.state
*.z64
*.v64
*.raw
*.retired
*.npy
*.seq
*.pt
*.gen
europa
/models
/shaders
flightsim
mozart.mp3
athlete
*/n64/reference
/shot*png
/*.ag
export
sessions
cache
*.res
foundry/hyperspace/share/textures/eye/*.png
foundry/hyperspace/share/textures/head/*.png
.gitignore
ref