element.root {
    fill-canvas:    compose;
    fill-color:     #704;
    fill-radius-x:  0;
    fill-radius-y:  0;
}

element.root / pane {
    fill-canvas:    compose;
    fill-color:     #f08;

    fill-radius-y: 16;
    fill-radius-x: 16;
    
    border-canvas:      compose;
    border-color:       #f0f;
    border-size:        16;
    border-blur:        10;
    border-clip:        true;
    border-area:        l0 t0 r0 b0;
    border-radius-x:    16;
    border-radius-y:    16;

    clip-area:          l0 t0 r0 b0;
    area:               l64 t64 r64 b64;
}

element.root / pane / element.outline {
    area:           l0 t0 r0 b0;
    border-area:    l0 t0 r0 b0;
    border-canvas:  compose;
    border-color:   #f0f;
    border-size:    2;
    border-blur:    0;
    border-radius-x: 16;
    border-radius-y: 16;
    fill-radius-x:      16;
    fill-radius-y:      16;
}

element.root / pane:active {
    fill-canvas:    compose;
}

element.root / pane / button.button1 {
    content:        "button";
    area:           l8 t8 w80 h32;
    fill-canvas:    overlay;
    border-canvas:  overlay;
    border-size:    4;
    border-color:  #ffff;
}