@import "trinity.css"

Layer root_bg [ ]
    fill_color: #181420

Layer flat [ fill ]
    fill_color: $fill

element.root {
    layers.root_bg [ ]
}

ModelView.face_main {
    area: l0 t0 r0 b384px
}

ModelView.vote_0 {
    area: l0px t640px w512px b0
}

ModelView.vote_1 {
    area: l512px t640px w512px b0
}
