@import "trinity.css"

Layer root_bg [ ]
    fill_color: #181420

element.root {
    layers.root_bg [ ]
}

.face_a {
    area: l0 t0 r0 b0
}

.face_a:split {
    area: l0 t0 r50% b0
}

.face_b {
    area: l50% t0 r0 b0
}
