release
debug
*.blend1
*.spv
*.frag.spv
*.vert.spv
*.keras
*.pth
*.f32
human.bin
human.gltf
human.blend
*human*
node_modules
sessions
rubiks*
*.gltf
*.svg
*.bin
*.png
*.vert
*.frag
*.css
*.blend
*.pyc
__pycache__
