/* trinity!  ..help. */
@import "trinity.css"

element.main {
    area: l0 t0 r2 b4
    layers.root_bg:
        fill_color: #00f
}

Toolbar {
    area: l0 t0 w5.33 b0
    layers.compose:
        ctype: compose
        fill_color: #f0a

    layers.border:
        fill_color: #fff4
        area: l5.33 t0px w1px b0px

    layers.border2:
        fill_color: #0004
        area: l5.33 t0px w2px b0px

    layers.base:
        fill_color:         #fff1
        inner_glow:         #fff1 16
    
}



Toolbar.right {
    area: r10 t0 r0 b0

    layers.border:
        fill_color: #fff0
        area: l1px t0px w1px b0px

    layers.border2:
        fill_color: #fff1
        area: l0px t0px w1px b0px
}

Group {
    layers.compose:
        ctype:              compose
        fill_color:         #f0a

    layers.base:
        fill_color:         #fff0
}

Group / Control {
    area:               l1 t0+ r1 h2
    layers.compose:
        ctype:          compose
        fill_color:     #a0a
        radius:         0
    layers.base:
        area:           l0 t0 r0 b-1px
        fill_color:     #0000
        stroke_width:   0
        stroke_color:   #fff4
        label_color:    #fff
        label_size:     17
        radius:         0
}

Group / Check {
    layers.check:
        area:           l0.5 t0.5 w1.0 h1.0
        fill_color:     #0004
        stroke_width:   1
        stroke_color:   #fff4
        radius:         9
    layers.inner:
        area:           l0.75 t0.75 w0.5 h0.5
        fill_color:     #4af0, 222ms cubic
        inner_glow:     #fff0 8, 222ms cubic
        stroke_width:   1
        stroke_color:   #fff0
        radius:         9
}

Group / Check:pressed {
    layers.base:
        fill_color:     #0000, 222ms cubic
    layers.inner:
        area:           l15px t15px w12px h12px
        radius:         7
        fill_color:     #4af4, 222ms cubic
}

Group / Check:selected {
    layers.base:
        fill_color:     #4af8, 222ms cubic
    layers.check:
        fill_color:     #000a
    layers.inner:
        fill_color:     #4af, 222ms cubic
        inner_glow:     #fffa 8, 222ms cubic
        stroke_color:   #fff8
}

Group / Check:pressed & selected {
    layers.base:
        fill_color:             #4af4, 222ms cubic
    layers.inner:
        area:                   l17px t17px w8px h8px
        radius:                 7
        fill_color:             #4afa, 222ms cubic
}


Group.editor-group {
    area:                       l5.33 t0 r10.06 h100%

    layers.compose:
        radius:                 0

    layers.bordering:
        area:                   l0 t34px r0 b0
        radius:                 0
}

Group / element.title {
    area:                       l11px t8px r11px h44px
    layers.base:
        fill_color:             #2480
        inner_glow:             #8af2 26
        radius:                 8
        stroke_width:           0.5
        stroke_color:           #fff2

    layers.face:
        label_color:            #fff
        label_size:             19
        label_align:            0.5 0.3
        label_font:             'fonts/SpaceMono-Regular.ttf'

}

Group.editor-group / Option {
    area:                       l0+ t7px w2 h1
    layers.base:
        fill_color:             #2481
        inner_glow:             #8af1 16
        radius:                 8
        stroke_width:           0.5
        stroke_color:           #fff2
    layers.face:
        fill_color:             #0000
        stroke_width:           0
        label_color:            #0000
    layers.svg:
        area:                   4px
        image_align:            0.5 0.5
        image_scale:            0.7
        image_svg:              "images/git.svg"
}


Group.editor-group / Option:selected {
    layers.base:
        fill_color:             #fa82
        inner_glow:             #fa85 24
}



Toolbar.right / Edit {
    area:                       l0 t0 r0 h1.14
    layers.header:
        fill_color:             #0000
        stroke_width:           0
        inner_glow:             #0000 0
        label_color:            #0000
    layers.face:
        area:                   8px
        fill_color:             #fff1
        stroke_color:           #fff3
        stroke_width:           0.5
        radius:                 4
        label_size:             13
        label_color:            #fff8
        label_align:            0.0 0.5
        label_offset:           8 0
        label_font:             'fonts/SpaceMono-Regular.ttf'
}

Toolbar.right / Edit:focused {
    layers.face:
        fill_color:             #1246
        stroke_color:           #8af8
        label_color:            #ffff
}

element.filter {
    area: l0 b2.5 r0 h2.5
    focusable: true
    layers.base:
        area:                   0
        fill_color:             #aaf2
    layers.text:
        area:                   7px
        fill_color:             #0006
        label_color:            #fff
        stroke_color:           #aafa
        stroke_width:           0.5
        label_align:            0.0 0.5
        label_offset:           8 0
        radius:                 8px
        label_size:             14
        label_font:             'fonts/SpaceMono-Regular.ttf'
        editable:               true
    layers.border:
        area:                   l0 t0 r0 h2px
        stroke_width:           2 0 0 0
        stroke_color:           #fff2
}

Toolbar.right / Control {
    area:                       l0 t0+ r0 h1.0
    
    layers.header:
        area:                   l0px t0px r0px h0.94

        fill_color:             #1241
        inner_glow:             #8af2 24
        radius:                 0
        stroke_width:           0.5
        stroke_color:           #fff2
        label_color:            #fff
        label_size:             14
        label:                  'Navigator'
        label_font:             'fonts/SpaceMono-Regular.ttf'
    
    layers.list:
        area:                   l0 1.0 r0 b0
        stroke_color:           #fff4
        stroke_width:           0
        fill_color:             #0004
        radius:                 0
}

Toolbar.right / Control.callstack {
    layers.header:
        label:                  'Call Stack'
}
Toolbar.right / Control.debug2 {
    layers.header:
        label:                  'debug2'
}

Toolbar.right / Control:selected {
    area:                       l0 t0+ r0 h100%
    layers.header:
        fill_color:             #2484
}

Instances {
    area:                       l5.33 b1.5 r10.04 h1.5
    layers.compose:
        ctype: compose
        fill_color: #f0a

    layers.base:
        fill_color:             #23f1
        inner_glow:             #fff1 16
        stroke_color:           #fff2
        stroke_width:           0.5 0 0 0
}

Instances:selected {
    area:                       l5.33 b6.9 r10.04 h7
}

Console {
    focusable:  true
    area:   l0 t0 r0 h0
    layers.content: TermLayer
        area:               8px
        label_height:       1.0
        label_size:         16
}

Console:selected {
    area:   l0 t1 r0 b0
}

CompileConsole {
    area:   l0 t0 r0 h0
    layers.content: CompileLayer
        area:               8px
        label_height:       1.0
        label_size:         15
}

CompileConsole:selected {
    area:   l0 t1 r0 b0
}

FileList {
    focusable:      true
    layers.content: FileLayer
        area:           l0.1 t1.3 r0.1 b0.1
        label_size:     16
        row_spacing:    1.2
        indent_width:   12
        icon_col:       11
        icon_text_gap:  4
        expand_svg:     "images/collapse3.svg"
        collapse_svg:   "images/expand3.svg"
        sel_color:      #0004
        sel_border_color: #fff
        sel_radius:     8
        sel_pad_r:      10
        sel_oy:         2
        dir_color:      #7ec8e3
        file_color:     #d4d4d4
        expand_offset:   0 2
        collapse_offset: 0 2
    layers.scrollbar: ScrollLayer
        area:           l0.1 t1.3 r0.1 b0.1
        thumb_color:    #fff4
        thumb_w:        4
        thumb_min_h:    32
        thumb_radius:   2
}

DebugPanel {
    layers.header:
        label:                  'LLDB'
}


Editor {
    focusable:              true
    area:                   l0 t52px r0 b0
    layers.content: EditorLayer
        area:               8px
        label_height:       1.0
        line_color:         #fff1
        sel_color:          #264f78
    layers.scrollbar: ScrollLayer
        area:               8px
        thumb_color:        #fff4
        thumb_w:            6
        thumb_min_h:        32
        thumb_radius:       4
}

/*
Toolbar / Button.start {
    area:               l1 t1+ r0.5 h4
    layers.svg:
        area:           8px
        image_svg:      "images/orbiter4.svg"
        image_align:    0.5 0.5
}

Toolbar / Button.start:hovered {
    layers.face:
        fill_color:             #fa08, 444ms cubic
        label_color:            #fff
}

Toolbar / Button.start:pressed {
    scaling:            0.9 0.9, filter 0.8
    layers.face:
        fill_color:             #2af8
        fill_gradient_color:    #28f4
        fill_color_pos:         {cursor}, filter 0.7
        label_color:            #fff
}
*/

Tabs / Button {
    area:                       l6px t6+px r6px h1

    layers.base:
        fill_color:             #2481
        inner_glow:             #8af1 16
        radius:                 4
        stroke_width:           0.5
        stroke_color:           #fff2
    
    layers.face:
        label_color:            #fff
        label_size:             14
        label_font:             'fonts/SpaceMono-Regular.ttf'
        label_align:            0.5 0.44
}


Tabs.actions {
    area: l0 t0 w2 h2
}

Tabs.targets {
    area: l2 t0 r0 h2
}

Tabs.consoles {
    area: r216px t0 w8 h2
}

Tabs.consoles / Button {
    area: l6+px t6px w3 h1
}

Tabs.targets / Button {
    area: l6+px t6px w3 h1
}

Tabs.actions / Button.play {
    area: l6px t6px r6px h1
    layers.svg:
        area: 4px
        image_svg:      "images/play.svg"
        image_scale:    1.7
        image_align:    0.5 0.5
}

Tabs.targets / Option.system {
    area: l6px t6px w1 h1
    layers.svg:
        area: 4px
        image_svg:      "images/menu-icon.svg"
        image_scale:    1.4
        image_align:    0.5 0.5
}

Tabs.targets / Option.system:selected {
    layers.base:
        fill_color:     #fd06
        inner_glow:     #fd08 16
}

Tabs / Button:hovered {
    layers.base:
        fill_color:             #8af2
        inner_glow:             #8af4 16
}



Tabs / Option {
    layers.base:
        fill_color:             #2481
        inner_glow:             #8af1 16
    layers.face:
        label_color:            #fff
}

Tabs.source_nav / Option {
    area:                       l6px t6+px r6px h1
    layers.base:
        area:                   l0 t0 r15px b0
        fill_color:             #2481
        inner_glow:             #8af1 16
        radius:                 4 0 0 4
    layers.face:
        area:                   l0 t0 r15px b0
        label_color:            #fff
    layers.dot:
        area:                   r14px t0px w12px h1
        radius:                 0 4 4 0
        fill_color:             #4f84
        inner_glow:             #4f84 24
        stroke_color:           #4f84
        stroke_width:           0.5
}

Tabs.source_nav / Option.config {
    area:           l6px b1.3 w5.4 h1

    layers.base:
        area:                   l0 t0 r15px b0
        radius:                 4
    layers.face:
        area:                   0
    layers.dot:
        hide:                   true
    layers.svg:
        area:                   l0 t0 r0.4 b0
        image_svg:              "images/orbiter4.svg"
        image_scale:            1.05
        image_align:            0.5 0.5
    layers.top:
        stroke_width:           1 0 0 0
        stroke_color:           #fff2
        area:                   l-7px t-6px r8px h1px
}

Tabs.source_nav / Option:selected {
    layers.dot:
        fill_color:             #f84
        stroke_color:           #ff8
}


Tabs / Option.config:hovered {
    layers.base:
        fill_color:     #8af3
        inner_glow:     #8af5 16
}

Tabs / Option.config:selected {
    layers.base:
        fill_color:     #fa84
        inner_glow:     #fa86 24
}

Tabs / Option:selected {
    layers.base:
        fill_color:             #fa82
        inner_glow:             #fa85 24
    layers.face:
        label_color:            #fff
        label_shadow:           #0008
        label_shadow_offset:    1 1
        label_shadow_blur:      3
}

Tabs / Option:disable {
    layers.base:
        fill_color:             #2480
        inner_glow:             #0000 0
    layers.face:
        label_color:            #fff3
}

Tabs / Option:hovered {
    layers.base:
        fill_color:             #8af2
        inner_glow:             #8af4 16
}

Tabs.actions / Button.play {
    layers.svg:
        opacity:    1.0
}

Tabs.actions / Button.play:disable {
    layers.base:
        inner_glow:             #0000 0
    layers.svg:
        opacity:    0.2
}

Avatar.avatar {
    shaders.orbiter: PBR
        groups:         ["outside","flower","separator"]
        model_id:       "orbiter32"
        env_id:         "night"
        pulse_width:    1.0, filter 0.8

    shaders.core:    Core
        groups:         ["core"]
        model_id:       "orbiter32"
        texture:        "textures/core.png"
        mip_levels:     8
        pulse_width:    1.0, filter 0.8

    shaders.plasma: Plasma
        groups:         ["top_ring","flower"]
        model_id:       "orbiter32"
        pulse_width:    1.0, filter 0.8

    shaders.aura:    Aura
        model_id:       "uv-quad2"
        pulse_width:    4.4, filter 0.8
        pulse_height:   1.0, filter 0.8
        flame:          0.0, filter 0.8

    render_scale:       4.0
    clear_color:        0 0 0 0
    rotate:             [ 0 1 0 30deg, 1 0 0 20deg ], 222ms cubic outward
    eye_pos:            0.0 3.5 -2.0
    target_pos:         0.0 0.0 0.0
    up_vec:             0.0 -1.0 0.0
    fov:                30.0
    blend_bands:        0.2
    blend_rings:        0.2
    blend_haze:         1.0
    area: l0 t0 w8 h8
}

Avatar.avatar:hovered {
    shaders.aura:
        pulse_width:    2.0, filter 0.8
        flame:          1.0, filter 0.8

    rotate:             [ 0 1 0 30deg, 1 0 0 10deg ], 222ms cubic outward
}

Avatar.avatar:pressed {
    shaders.aura:
        pulse_height:   2.0, filter 0.8

    rotate:             [ 0 1 0 30deg, 1 0 0 0deg ], 88ms cubic outward
}

Group / element.title-tabs {
    area:                       r3 t13px w4 h34px

    layers.compose:
        fill_color:             #0000
}

element.title-tabs / Option {
    area: l0+ t0 w1.2 h34px
    toggle: true
    layers.base:
        fill_color:             #0000
        inner_glow:             #0000 24
        radius: 8
    layers.svg:
        area:                   4px
        image_align:            0.5 0.5
        image_scale:            1.0
        opacity:                0.5
}

element.title-tabs / Option:hovered {
    layers.base:
        fill_color:             #8af4
        inner_glow:             #8afa 24
    layers.svg:
        opacity:                1.0
}

element.title-tabs / Option:selected {
    layers.base:
        fill_color:             #fa84
        inner_glow:             #fa85 24
    layers.svg:
        opacity:                1.0
}

element.title-tabs / Option.git {
    layers.svg:
        image_svg:              "images/git.svg"
}

element.title-tabs / Option.project {
    layers.svg:
        image_svg:              "images/orbiter4.svg"
}
